* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@media (max-width:1440px) {
    .container {
        position: relative;
        width: 100vw;
        height: 100vh;
    }

    .container .bg1 {
        width: 33%;
        height: 85%;
        background-image: linear-gradient(200deg, hsl(293, 100%, 63%), hsl(264, 100%, 61%));
        border-radius: 0 0 200px 180px;
        position: relative;
        z-index: -2;
    }

    .container .bg2 {
        position: absolute;
        width: 30%;
        height: 85%;
        right: 0;
        bottom: 0;
        background-color: hsla(0, 23%, 95%, 0.3);
        border-radius: 200px 200px 0 0;
    }

    .container .mobile {
        position: absolute;
        left: 29%;
        top: 20%;
        height: 60%;
        background-color: white;
        border-radius: 20px;
        width: 18%;
        box-shadow: 4px 6px 20px 5px #ddd;
        padding: 8px;
        z-index: -1;
    }

    .container::before {
        content: '';
        position: absolute;
        width: 10%;
        height: 30px;
        border-radius: 0px 0px 20px 20px;
        left: 33%;
        top: 20%;
        background-color: white;

    }

    .container .mobile .app {
        background-color: hsl(270, 20%, 96%);
        width: 100%;
        height: 100%;
        border-radius: 18px;
        font-family: "Rubik", sans-serif;

    }

    .container .mobile .app .heading {
        background-image: linear-gradient(90deg, hsl(264, 100%, 61%), hsl(293, 100%, 63%));
        border-radius: 15px 15px 0 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 20%;
        color: hsl(270, 20%, 96%, 0.5);
        position: relative;
    }

    .container .mobile .app .heading img {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        margin-right: 5px;
    }

    .container .mobile .app .heading h3 {
        font-size: medium;
        color: hsl(270, 20%, 96%, 0.8);
    }

    .container .mobile .app .heading p {
        font-size: 10px;
        margin-top: 2px;
    }

    .container .mobile .app .heading .icon1 {
        position: absolute;
        left: 15px;
    }

    .container .mobile .app .heading .icon2 {
        position: absolute;
        right: 15px;
    }

    .container .mobile .app .heading .container .mobile .content {
        height: 50%;
        padding: 2px;
    }

    .container .mobile .content .images img {
        width: 35px;
        height: 35px;
        border-radius: 10px;
        margin: 5px;
    }

    .container .mobile .content .images {
        display: flex;
        justify-self: flex-end;
    }

    .container .mobile .content .res1 {
        width: 50%;
        background-color: white;
        margin-top: 5px;
        font-size: 8.5px;
        height: 30px;
        border-radius: 10px 10px 5px 10px;
        padding: 4px;
        color: hsl(271, 15%, 43%);
        display: flex;
        justify-self: flex-end;
    }

    .container .mobile .content .res2 {
        background-color: white;
        margin-top: 5px;
        font-size: 8.5px;
        width: 38%;
        height: 30px;
        border-radius: 10px 10px 5px 10px;
        padding: 4px;
        color: hsl(271, 15%, 43%);
        display: flex;
        justify-self: flex-end;
        align-items: center;
    }

    .container .mobile .content .sen {
        width: 62%;
        border-radius: 10px 10px 10px 5px;
        color: hsl(276, 55%, 52%);
        background-color: hsl(276, 55%, 52%, 0.1);
        font-size: 8.5px;
        height: fit-content;
        padding: 5px;
        margin-top: 5px;
    }

    .container .mobile .pricing {
        margin-top: 15px;
    }

    .container .mobile .price {
        width: 70%;
        height: 30px;
        padding: 8px;
        margin-top: 5px;
        border-radius: 10px 10px 10px 5px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-image: linear-gradient(90deg, hsl(293, 100%, 63%), hsl(264, 100%, 61%));
        margin-left: 2px;
        position: relative;
    }

    .container .mobile .price::before {
        content: '';
        position: absolute;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        border: 1px solid hsl(206, 6%, 79%, 0.5);
        left: 5px;
    }

    .container .mobile .price p {
        font-size: 10px;
        color: hsl(206, 6%, 79%, 0.9);
    }

    .container .mobile .price h2 {
        font-size: 15px;
        color: white;
    }

    .container .mobile .message {
        width: 98%;
        margin: 10px auto 0 auto;
        height: 35px;
        background-color: white;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .container .mobile .message input {
        width: 75%;
        border: none;
        color: hsl(206, 6%, 79%);
    }

    .container .mobile .message button {
        width: 30px;
        height: 30px;
        background-color: hsl(271, 36%, 24%);
        color: white;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        font-weight: 500;
    }

    .container .paragraph {
        position: absolute;
        width: 380px;
        top: 30%;
        left: 50%;
        font-family: "Rubik", sans-serif;
    }

    .container .paragraph h1 {
        font-weight: 700;
        color: hsl(271, 36%, 24%);
    }

    .container .paragraph p {
        font-size: 16px;
        line-height: 1.5;
        color: hsl(270, 7%, 64%);
    }
}
@media (max-width:375px){
    .container {
        position: relative;
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
       
    }
    .container .bg1 {
        width: 60%;
        position: absolute;
        left: -50px;
        height: 70%;
        z-index: -1;
    }
    .container .bg2{
        position: absolute;
        right: -50px;
        height: 70%;
        width: 50%;
        z-index: -1;
    }
    .container .mobile {
        position: absolute;
        width: 60%;
        height: 60%;
        top: 10%;
    }
    .container::before {
        position: absolute;
        top: 10%;
        left: 39%;
        width: 40%;
    }
    .container .paragraph {
    position: absolute;
    width: 70%;
    top:80% ;
    left: 15%;
    text-align: center;
    }
}